<style>
  .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A6DB6;
    width:100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  }
</style>
<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/chat">Chatroom</a></li>
  <li><a href="/inbox">Inbox</a></li>
   <li><a href="/news">News Feed</a></li>
</ul>