.ps-popup {
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    text-align: left;
    background: #e1e8e8;
    color: #000;
    border: 1px solid #999;
    padding: 2px 10px;
    border-radius: 6px;
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #ddd, 2px 2px 3px rgba(0,0,0,.2);
    z-index: 20;
}